.innerDiv {
    margin: 15px 20% 15px 20%;
    overflow: auto;
    h4 {
        color: #666666;
    }
    text-align: left;
    padding-left: 15px;
    hr {
        float: left;
        margin: 0px;
    }
}

.machDiv {
    text-align: left;
    float: left;
    overflow: auto;
}